body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
}

.reservation-form {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
  gap: 20px;
}

.reservation-form h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%; /* Largeur de chaque champ (45% avec un espace de 20px entre les colonnes) */
  min-width: 200px; /* Largeur minimale pour chaque champ */
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}

.submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  align-self: center; 
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}
